<h2>Certification
    <div class="reset-button">
        <button onclick="resetMainContent()">X</button>
    </div>
</h2>
<h3>I want some buttons here</h3>
<div class="h4-container">
    <h4>A<u>d</u>dress</h4>
    <h5>https://certs</h5>
</div>
<p>            <i>Certified in Software Development and Programming, with distinction</i><br>
    2022-2023</p><br>

    <p>
        Meticulously designed set of courses that encompass both theoretical knowledge and hands-on experience. The esteemed faculty and the high standards of UC Berkley ensured that I was exposed to the best practices of the instructors, while still providing a range of topics to learn about. This certificate has equipped me with a robust foundation, while also inspiring me to further pursue my passion in the realm of technology and software development.
    </p>