<!-- site_v3/templates/about.html -->

<h2>Details
    <div class="reset-button">
        <button onclick="resetMainContent()">X</button>
    </div>
</h2>
<h3>I want some buttons here</h3>
<div class="h4-container">
    <h4>A<u>d</u>dress</h4>
    <h5>https://details</h5>
</div>
<p>
    <span>ORIGIN: Gualala, CA, USA</span><br>
    <span>CLASS: Software Developer</span><br>
    <span>WEAPON: VSCode, Pycharm</span><br>
    <span>SKILLS: Python, HTML/CSS, JavaScript</span>
</p>

<p>Enthusiastic individual with a genuine passion for languages and continuous self-improvement. While I am still on my journey to mastering German, my love for diverse cultures and languages fuels my drive. I am also versed in Python programming and proud of my web development accomplishments showcased on this site, reflecting my commitment to growth and evolving as a programmer.</p>
