<h2>Education
    <div class="reset-button">
        <button onclick="resetMainContent()">X</button>
    </div>
</h2>
<h3>I want some buttons here</h3>
<div class="h4-container">
    <h4>A<u>d</u>dress</h4>
    <h5>https://edu</h5>
</div>
<p><b>Saint Mary's College of California</b> <i>Bachelor of Arts, Communication</i>
    2014-2018</p>

    <p>
        I attended small, private Saint Mary's College of California as a first generation college student in the Moraga hills after graduating from Point Arena High School. Coming from the small town of Gualala and being part of an intimate school system, it was important to me to find higher education that provided that same close contact and wasn't <i>too</i> overwhelming for my introverted nature.
    </p>